In [21]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [3]:
df = pd.read_excel('df_final_paulo.xlsx')

In [7]:
df_3 = df[df['Área'] == 'Área 3']

In [18]:
df_final = df_3[(~df_3['CF'].isna()) & (~df_3['OZ'].isna()) & (~df_3['UV'].isna())]

In [27]:
x = df_final[['CF','OZ']].values
y = df_final[['UV']].values

In [29]:
model = LinearRegression().fit(x, y)

In [30]:
r_sq = model.score(x, y)
print(f"coefficient of determination: {r_sq}")

print(f"intercept: {model.intercept_}")

print(f"coefficients: {model.coef_}")

coefficient of determination: 0.2258343553886839
intercept: [17.19558382]
coefficients: [[-5.2691796  -0.03036956]]

In [31]:
y_pred = model.intercept_ + np.sum(model.coef_ * x, axis=1)

In [32]:
print(f"predicted response:\n{y_pred}")

predicted response:
[7.08564591 6.8179087  7.51013404 ... 7.85967828 4.89039589 5.05066889]

In [44]:
np.asarray(y_pred).T

array([7.08564591, 6.8179087 , 7.51013404, ..., 7.85967828, 4.89039589,
       5.05066889])

In [45]:
df_pred = pd.DataFrame(columns = ['Predictions', 'Real'])

In [46]:
df_pred['Predictions'] = y_pred
df_pred['Real'] = y

In [47]:
df_pred

      Predictions       Real
0        7.085646  11.519078
1        6.817909  12.071371
2        7.510134  11.877135
3        8.813586  12.930849
4        6.583892   9.627149
...           ...        ...
3055     7.704671  11.590159
3056     3.965192   7.862203
3057     7.859678  11.637776
3058     4.890396  11.062555
3059     5.050669  11.149046

[3060 rows x 2 columns]